{% extends "template.html"%}
{% load staticfiles %}

{% block content %}
<main>
	<header id="index_header" class="joqd grey-darken-4">
		<div class="joqd container">
			<div class="joqd row">
				<div class="joqd desktop-7 desktop-push-5 laptop-7 laptop-push-5 tablet-10 tablet-push-1 mobile-10 mobile-push-1">
					<h1>بستون<span class="joqd light-blue-darken-3-text">،</span> یک سیستم ساده‌ی نگه‌داری دخل و خرج‌ها <strong class="joqd white-text">با هدف یادگیری</strong><span class="joqd light-blue-darken-3-text">.</span></h1>
					<a href="#" class="joqd light-blue-darken-3 light-blue-darken-2-hover white-text medium sharp-corner raised ripple-click ripple-darken button">ثبت نام کنید</a>
				</div>
			</div>
		</div>
		<span class="joqd grey-darken-3 soft-top-corner elevate-4 image-bg bestoon-prev"></span>
	</header>
	<section id="index_about" class="joqd grey-lighten-2 info-section">
		<div class="joqd container">
			<div class="joqd row">
				<div class="joqd desktop-7">
					<h2>ولی ماجرای بستون چی هست؟</h2>
					<p class="joqd grey-darken-1-text">این در واقع یک سیستم نگهداری خرج و دخل شخصی است. پول‌هایی که در آوردین رو توش می‌زنین و پول‌هایی که خرج کردین رو یادداشت می‌کنین. اما این سیستم شدیداً در ابتدای راهه! دلیلش؟ این سیستم داره به عنوان یک پروسه آموزش کار می‌کنه و من قدم به قدم کارهایی که برای راه انداختن اینجا دارم می‌کنم رو <a href="" class="joqd link light-blue-darken-3-text light-blue-darken-2-text-hover">منتشر کرده‌ام</a>.</p>
					<p><strong>بستون یک پروژه‌اس که قدم به قدم توش سعی می‌کنیم تا سیستمی درست کنیم که می‌شه خرج و دخل رو باهاش نگه داشت. فعلا در ابتدای راهیم و برای استفاده ازش عملا باید یک گیک علاقمند باشی.</strong></p>
				</div>
			</div>
		</div>
	</section>
	<section id="index_statics" class="joqd white">
		<div class="joqd container">
			<ul class="joqd align-center row">
				<li class="joqd desktop-3 laptop-3 tablet-6 mobile-6">
					<a href="#" class="joqd link light-blue-darken-3-text light-blue-darken-2-text-hover">۲۱</a>
					<span class="joqd small grey-darken-1-text">مشارکت‌کننده</span>
				</li>
				<li class="joqd desktop-3 laptop-3 tablet-6 mobile-6">
					<a href="#" class="joqd link light-blue-darken-3-text light-blue-darken-2-text-hover">۱۳۱</a>
					<span class="joqd small grey-darken-1-text">کامیت</span>
				</li>
				<li class="joqd desktop-3 laptop-3 tablet-6 mobile-6">
					<a href="#" class="joqd link light-blue-darken-3-text light-blue-darken-2-text-hover">۱۲۴۱۴</a>
					<span class="joqd small grey-darken-1-text">خط کد</span>
				</li>
				<li class="joqd desktop-3 laptop-3 tablet-6 mobile-6">
					<a href="#" class="joqd link light-blue-darken-3-text light-blue-darken-2-text-hover">۱۰۷</a>
					<span class="joqd small grey-darken-1-text">ستاره</span>
				</li>
			</ul>
		</div>
	</section>
	<section id="index_how" class="joqd grey-darken-4">
		<div class="joqd row">
			<div class="joqd desktop-6 desktop-push-3 laptop-8 laptop-push-2 tablet-10 tablet-push-1 mobile-12 align-center">
				<i class="gb gb_lightbulb_outline gb_s48 joqd grey-darken-2-text"></i>
				<p>برای استفاده از سیستم بستون فعلا باید اول داخل همین سایت <a href="" class="joqd link light-blue-darken-3-text light-blue-darken-2-text-hover">ثبت نام کنید</a> و توکن دریافت کنین (مراقب باشید که توکن فقط یکبار بهتون داده می‌شه!) بعدش به کمک اون به یکی از کلاینت‌های متصل بشین. فعلا تنها دو کلاینت رسمی اندروید و کامند لاینی (که با کرل کار میکنه) داریم. در  نهایت دخل و خرج‌ها رو وارد سیستم کنین و منتظر باشین که هی سیستم کامل‌تر بشه.</p>
				<ul>
					<li class="client">
						<a href="#" class="joqd white grey-lighten-2-hover circle-corner raised ripple-click ripple-darken button"><i class="gb gb_android gb_s18 gb_dark"></i></a>
						<span>Android App</span>
					</li>
					<li class="client">
						<a href="#" class="joqd white grey-lighten-2-hover circle-corner raised ripple-click ripple-darken button"><i class="gb gb_code gb_s18 gb_dark"></i></a>
						<span>Command Line</span>
					</li>
				</ul>
			</div>
		</div>
	</section>
	<section id="index_clients" class="joqd grey-lighten-2 info-section">
		<div class="joqd container">
			<div class="joqd row">
				<div class="joqd desktop-12 laptop-12 tablet-12 mobile-12">
					<h2>کلاینت‌هایی که بقیه ساخته‌اند</h2>
					<ul class="joqd row">
						<li class="joqd desktop-3 laptop-3 tablet-4 mobile-6 align-center">
							<a href="" class="joqd link white elevate-3-hover transition-smooth">
								<img src="../static/img/clients/ruby.png" alt="Ruby Console Clients API" class="joqd responsive">
								<b lang="en" class="joqd small">Ruby Console Clients API</b>
								<span lang="en" class="joqd grey-text small">@shayanzare007</span>
							</a>
						</li>
						<li class="joqd desktop-3 laptop-3 tablet-4 mobile-6 align-center">
							<a href="" class="joqd link white elevate-3-hover transition-smooth">
								<img src="../static/img/clients/angular.png" alt="Angular 2 Web Client" class="joqd responsive">
								<b lang="en" class="joqd small">Angular 2 Web Client</b>
								<span lang="en" class="joqd grey-text small">@n1arash</span>
							</a>
						</li>
						<li class="joqd desktop-3 laptop-3 tablet-4 mobile-6 align-center">
							<a href="" class="joqd link white elevate-3-hover transition-smooth">
								<img src="../static/img/clients/bash.png" alt="Bash Script" class="joqd responsive">
								<b lang="en" class="joqd small">Bash Script</b>
								<span lang="en" class="joqd grey-text small">@moeinroid</span>
							</a>
						</li>
						<li class="joqd desktop-3 laptop-3 tablet-4 mobile-6 align-center">
							<a href="" class="joqd link white elevate-3-hover transition-smooth">
								<img src="../static/img/clients/windows.png" alt="Client for windows" class="joqd responsive">
								<b lang="en" class="joqd small">Client for windows</b>
								<span lang="en" class="joqd grey-text small">@BakhtiariMohammad</span>
							</a>
						</li>
						<li class="joqd desktop-3 laptop-3 tablet-4 mobile-6 align-center">
							<a href="" class="joqd link white elevate-3-hover transition-smooth">
								<img src="../static/img/clients/java.png" alt="Multiplatform Gui" class="joqd responsive">
								<b lang="en" class="joqd small">Multiplatform Gui</b>
								<span lang="en" class="joqd grey-text small">@alireza6677</span>
							</a>
						</li>
						<li class="joqd desktop-3 laptop-3 tablet-4 mobile-6 align-center">
							<a href="" class="joqd link white elevate-3-hover transition-smooth">
								<img src="../static/img/clients/telegram.png" alt="Bot Client" class="joqd responsive">
								<b lang="en" class="joqd small">Bot Client</b>
								<span lang="en" class="joqd grey-text small">@farbodgame</span>
							</a>
						</li>
						<li class="joqd desktop-3 laptop-3 tablet-4 mobile-6 align-center">
							<a href="" class="joqd link white elevate-3-hover transition-smooth">
								<img src="../static/img/clients/telegram.png" alt="Telegram Bot" class="joqd responsive">
								<b lang="en" class="joqd small">Telegram Bot</b>
								<span lang="en" class="joqd grey-text small">@AlirezaieS</span>
							</a>
						</li>
						<li class="joqd desktop-3 laptop-3 tablet-4 mobile-6 align-center">
							<a href="" class="joqd link white elevate-3-hover transition-smooth">
								<img src="../static/img/clients/telegram.png" alt="Telegram Bot Client" class="joqd responsive">
								<b lang="en" class="joqd small">Telegram Bot Client</b>
								<span lang="en" class="joqd grey-text small">@MojtabaMonfared</span>
							</a>
						</li>
					</ul>
					<div class="joqd row align-center">
						<a href="#" class="joqd light-blue-darken-3 light-blue-darken-2-hover white-text medium sharp-corner raised ripple-click ripple-darken button">ثبت نام کنید</a>
					</div>
				</div>
			</div>
		</div>
	</section>
</main>
{% endblock %}

{% block footer %}
{% endblock %}
