{% extends "template.html"%}
{% load staticfiles %}

{% block content %}
<main>
	<header id="index_header" class="joqd grey-darken-4">
		<div class="joqd container">
			<div class="joqd row">
				<div class="joqd desktop-7 desktop-push-5 laptop-7 laptop-push-5 tablet-10 tablet-push-1 mobile-10 mobile-push-1">
					<h1>بستون<span class="joqd light-blue-darken-3-text">،</span> یک سیستم ساده‌ی نگه‌داری دخل و خرج‌ها <strong class="joqd white-text">با هدف یادگیری</strong><span class="joqd light-blue-darken-3-text">.</span></h1>
					<a href="#" class="joqd light-blue-darken-3 light-blue-darken-2-hover white-text medium sharp-corner raised ripple-click ripple-darken button">ثبت نام کنید</a>
				</div>
			</div>
		</div>
		<span class="joqd grey-darken-3 soft-top-corner elevate-4 image-bg bestoon-prev"></span>
	</header>
	<section id="index_about" class="joqd grey-lighten-2 info-section">
		<div class="joqd container">
			<div class="joqd row">
				<div class="joqd desktop-7">
					<h2>ولی ماجرای بستون چی هست؟</h2>
					<p class="joqd grey-darken-1-text">این در واقع یک سیستم نگهداری خرج و دخل شخصی است. پول‌هایی که در آوردین رو توش می‌زنین و پول‌هایی که خرج کردین رو یادداشت می‌کنین. اما این سیستم شدیداً در ابتدای راهه! دلیلش؟ این سیستم داره به عنوان یک پروسه آموزش کار می‌کنه و من قدم به قدم کارهایی که برای راه انداختن اینجا دارم می‌کنم رو <a href="" class="joqd link light-blue-darken-3-text light-blue-darken-2-text-hover">منتشر کرده‌ام</a>.</p>
					<p><strong>بستون یک پروژه‌اس که قدم به قدم توش سعی می‌کنیم تا سیستمی درست کنیم که می‌شه خرج و دخل رو باهاش نگه داشت. فعلا در ابتدای راهیم و برای استفاده ازش عملا باید یک گیک علاقمند باشی.</strong></p>
				</div>
			</div>
		</div>
	</section>
	<section id="index_statics" class="joqd white">
		<div class="joqd container">
			<ul class="joqd align-center row">
				<li class="joqd desktop-3 laptop-3 tablet-6 mobile-6">
					<a href="#" class="joqd link light-blue-darken-3-text light-blue-darken-2-text-hover">۲۱</a>
					<span class="joqd small grey-darken-1-text">مشارکت‌کننده</span>
				</li>
				<li class="joqd desktop-3 laptop-3 tablet-6 mobile-6">
					<a href="#" class="joqd link light-blue-darken-3-text light-blue-darken-2-text-hover">۱۳۱</a>
					<span class="joqd small grey-darken-1-text">کامیت</span>
				</li>
				<li class="joqd desktop-3 laptop-3 tablet-6 mobile-6">
					<a href="#" class="joqd link light-blue-darken-3-text light-blue-darken-2-text-hover">۱۲۴۱۴</a>
					<span class="joqd small grey-darken-1-text">خط کد</span>
				</li>
				<li class="joqd desktop-3 laptop-3 tablet-6 mobile-6">
					<a href="#" class="joqd link light-blue-darken-3-text light-blue-darken-2-text-hover">۱۰۷</a>
					<span class="joqd small grey-darken-1-text">ستاره</span>
				</li>
			</ul>
		</div>
	</section>
</main>
{% endblock %}

{% block footer %}
{% endblock %}
