{% extends "template.html"%}
{% load staticfiles %}

{% block content %}
<main>
	<header id="index_header" class="joqd grey-darken-4">
		<div class="joqd container">
			<div class="joqd row">
				<div class="joqd desktop-7 desktop-push-5 laptop-7 laptop-push-5 tablet-10 tablet-push-1 mobile-10 mobile-push-1">
					<h1>بستون<span class="joqd light-blue-darken-3-text">،</span> یک سیستم ساده‌ی نگه‌داری دخل و خرج‌ها <strong class="joqd white-text">با هدف یادگیری</strong><span class="joqd light-blue-darken-3-text">.</span></h1>
					<a href="#" class="joqd light-blue-darken-3 light-blue-darken-2-hover white-text medium sharp-corner raised ripple-click ripple-darken button">ثبت نام کنید</a>
				</div>
			</div>
		</div>
		<span class="joqd grey-darken-3 soft-top-corner elevate-4 image-bg bestoon-prev"></span>
	</header>
</main>
{% endblock %}

{% block footer %}
{% endblock %}
