<!DOCTYPE html>
<html lang="fa">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<meta name="author" content="Jadi">

		<title>بستون،  پول کجاست؟</title>

		<!-- Styles -->
		<!-- Joqd Core CSS -->
		<link href="../static/css/joqd.min.css" rel="stylesheet">

		<!-- Gorbeh Icons -->
		<link href="../static/gorbeh/css/gorbeh-icons.min.css" rel="stylesheet">

		<!-- Custom CSS -->
		<link href="../static/css/custom.css" rel="stylesheet">
	</head>
	<body>

		<header>
			<nav id="header_navbar" class="joqd navbar thick-navbar super-thick-navbar transition-smooth">
			  <div class="joqd container">
				<div class="joqd logo transition-smooth">
					<a href="" class="joqd link white-text">
						<img src="https://placeholdit.imgix.net/~text?txtsize=62&txt=Bestoon&w=600&h=150&txttrack=0" alt="">
					</a>
				</div>
				<div class="joqd button-wrapper transition-smooth">
					<a href="#" class="joqd green green-darken-1-hover white-text medium sharp-corner raised ripple-click ripple-darken button">ثبت نام کنید</a>
				</div>
			  </div>
			</nav>
		</header>

		{% block content %}
		{% endblock %}

		<footer>
			<section id="footer_see_github" class="joqd grey-darken-4 grey-lighten-1-border">
				<div class="joqd container">
					<div class="joqd row">
						<div class="joqd desktop-6 desktop-push-3 laptop-8 laptop-push-2 tablet-10 tablet-push-1 mobile-12 align-center">
							<h2>از این پروژه خوشتون اومد؟</h2>
							<p class="joqd grey-text">اگه از بستون خوشتون اومده، توی گیتهاب بهش ستاره بدین یا فورکش کنین و بهبودش بدین.</p>
							<a href="#" class="joqd white grey-lighten-2-hover medium sharp-corner raised ripple-click ripple-darken button"><i class="gb gb_github gb_s18"></i> گیتهاب</a>
						</div>
					</div>
				</div>
			</section>
			<section id="footer_links_out" class="joqd grey-darken-4 darken">
				<div class="joqd container">
					<div class="joqd row">
						<div class="joqd desktop-1 laptop-2 tablet-2 mobile-2">
							<img src="https://placeholdit.imgix.net/~text?txtsize=48&txt=B&w=100&h=100&txttrack=0" alt="" class="joqd responsive">
						</div>
						<div class="joqd desktop-2 laptop-3 tablet-10 mobile-10">
							<h4>بستون</h4>
							<p class="joqd grey-text no-margin">یک سیستم ساده‌ی نگه‌داری دخل و خرج‌ها با هدف یادگیری<span class="joqd green-text">.</span></p>
						</div>
						<ul class="joqd desktop-6 desktop-pull-3 laptop-7 tablet-12 mobile-12 no-padding" lang="en">
							<li class="joqd desktop-4 laptop-4 table-4 mobile-4">
								<p>Gapper.ir</p>
								<span class="joqd small grey-text">Talk About Project</span>
								<a href="" class="joqd small link grey-text grey-darken-2-text-hover transition-smooth">channel/bestoon</a>
							</li>
							<li class="joqd desktop-4 laptop-4 table-4 mobile-4">
								<p>Github.com</p>
								<span class="joqd small grey-text">Contribute to Project</span>
								<a href="" class="joqd small link grey-text grey-darken-2-text-hover transition-smooth">jadijadi/bestoon</a>
							</li>
							<li class="joqd desktop-4 laptop-4 table-4 mobile-4">
								<p>Jadi.net</p>
								<span class="joqd small grey-text">Learn the Project</span>
								<a href="" class="joqd small link grey-text grey-darken-2-text-hover transition-smooth">tag/<span lang="fa">بستون</span></a>
							</li>
						</ul>
					</div>
				</div>
			</section>
			<section id="footer_final_links" class="joqd grey-darken-4">
				<div class="joqd container">
					<div class="joqd row">
						<ul class="joqd desktop-8 laptop-8 tablet-8 mobile-8">
							<li>
								<a href="#" class="joqd link grey-text grey-darken-2-text-hover transition-smooth">سیاست حریم خصوصی</a>
							</li>
							<li>
								<a href="#" class="joqd link grey-text grey-darken-2-text-hover transition-smooth">شرایط استفاده</a>
							</li>
						</ul>
						<ul class="joqd desktop-4 laptop-4 tablet-4 mobile-4 align-left">
							<li>
								<a href="#" class="joqd link grey-text grey-darken-2-text-hover transition-smooth">
									<i class="gb gb_github gb_s18"></i>
								</a>
							</li>
							<li>
								<a href="#" class="joqd link grey-text grey-darken-2-text-hover transition-smooth">
									<i class="gb gb_aparat gb_s18"></i>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</section>
		</footer>

		<!-- Scripts -->
		<!-- Latest jQuery (CND) -->
		<script src="http://code.jquery.com/jquery-latest.min.js"></script>

		<!-- Joqd Core js -->
		<script src="../static/js/joqd.min.js"></script>

		<!-- Custom js -->
		<script src="../static/js/custom.js"></script>

	</body>
</html>
