body{
   overflow-x: hidden;
   min-height: 100vh}

.image-bg{
   display: block;
   background-repeat: no-repeat;
   background-size: cover}
.darken{
   background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, .15) 0%, rgba(0, 0, 0, .15) 100%);
   background-image: linear-gradient(to right, rgba(0, 0, 0, .15) 0%, rgba(0, 0, 0, .15) 100%);
   background-blend-mode: darken}
.no-margin{margin: 0}
.one-line{
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis}

/* Index */
#index_header{
   position: relative;
   padding: 15rem 0}
#index_header:before{
   content: '';
   height: 100%; width: 100%;
   position: absolute;
   top: 0; right: 0; left: 0;
   margin: auto;
   background: #212121;
   background-repeat: no-repeat !important;
   background: -webkit-radial-gradient(center, ellipse contain, rgba(76,175,79,1) 0%, rgba(58,145,62,.23) 60%, rgba(46,125,50,0) 100%), -moz-radial-gradient(center, ellipse contain, rgba(76,175,79,.5) 0%, rgba(58,145,62,.13) 50%, rgba(46,125,50,0) 90%);
   background: radial-gradient(center, ellipse contain, rgba(76,175,79,1) 0%, rgba(58,145,62,.23) 60%, rgba(46,125,50,0) 100%), -moz-radial-gradient(center, ellipse contain, rgba(76,175,79,.5) 0%, rgba(58,145,62,.13) 50%, rgba(46,125,50,0) 90%);
   background-blend-mode: darken;
   background-position-x: center;
   background-position-y: -510px;
   -webkit-filter: blur(10px);
           filter: blur(10px)}
#index_header .bestoon-prev{
   z-index: 2;
   position: absolute;
   top: 12rem; left: 60%;
   height: 580px; width: 870px;
   background-image: url('')}
#index_header h1{
   font-weight: 400;
   line-height: 1.5;
   margin: 0 0 1.75rem}

.info-section{
   padding: 5rem 0 4rem;
   position: relative;
   background: -webkit-linear-gradient(55deg, #e0e0e0 0%, #eeeeee 70%, #eeeeee 100%);
   background: linear-gradient(35deg, #e0e0e0 0%, #eeeeee 70%, #eeeeee 100%);}
.info-section h2{
   position: relative;
   padding-bottom: 1.5rem;
   margin-bottom: 1.5rem;
   margin-top: 0;
   font-weight: 400}
.info-section h2::after{
   content: '-';
   color: transparent;
   border-bottom: 2px solid #4caf50;
   width: 4rem;
   position: absolute;
   bottom: 0; right: 0}

#index_about{padding: 9rem 0 5rem}
#index_about::before{
   background: url('../img/jadi.png') no-repeat;
   background-position-x: 2rem;
   background-size: contain;
   position: absolute;
   top: 0; left: 0;
   display: block;
   content: '';
   height: 100%; width: 100%;
   -webkit-filter: grayscale(.5) opacity(.2);
           filter: grayscale(.5) opacity(.2)}

#index_statics ul{
   padding: 2em 0;
   margin: 0;
   list-style: none}
#index_statics ul li a{font-size: 48px}
#index_statics ul li span{display: block}

#index_how{padding: 1rem 0}
#index_how .gb_lightbulb_outline{padding: 1rem}
#index_about p{text-shadow: 0 0 1px #e0e0e0, 0 0 7px #e0e0e0, 0 0 10px #e0e0e0}
#index_how p:first-of-type{
  font-size: 1rem;
  margin-bottom: 1rem;
  line-height: 2}
#index_how ul{
  padding: 0;
  margin: 0;
  list-style: none}
#index_how li{
  padding: 1em;
  display: inline-block}
#index_how li a{
  display: inline-block}
#index_how li a .gb{padding: .725em}
#index_how li span{
  padding: .725em .725em 0;
  display: block}

#index_clients ul{
   margin: 0;
   padding: 1.5rem;
   list-style: none}
#index_clients ul li{padding: 1.5rem !important}
#index_clients ul li a{
   padding: 1em 0;
   display: block}
#index_clients ul li a img{padding: 1.5em 4em 1em}
#index_clients ul li a b{display: block}
#index_clients ul li a span{
   padding-top: .5em;
   display: block}

/* Register */
#register_header{padding: 10rem 0 12rem}
#register_header h1{
   font-weight: 400;
   line-height: 1.5;
   margin: 0 0 0.75rem}
#register_form form{
   min-height: 20rem;
   padding: 12px 8vw 12px 6vw;
   margin-top: -8rem;
   margin-bottom: 4rem}
#register_form form .recaptcha-wrapper{
   display: table;
   width: 100%;
   padding: 1.5rem 2.8125rem 0.75rem 0}
#register_form form .recaptcha-wrapper span,
#register_form form .recaptcha-wrapper .g-recaptcha{
   display: table-cell;
   vertical-align: middle}
#register_form form .recaptcha-wrapper span{padding-left: 1.5rem}
#register_form form .recaptcha-wrapper .g-recaptcha{float: left}
#register_form form .button-wrapper{padding: 1.5rem 1.5rem 0}
#register_form form .message-wrapper{padding: 4vw 4vw 4vw 2vw}
#register_form form .message-wrapper .gb{
   font-size: 4rem;
   margin-bottom: 1rem}

/* Header */
#header_navbar .container{position: relative}
#header_navbar.super-thick-navbar .logo{height: 75px}
#header_navbar.super-thick-navbar .button-wrapper{top: 19px}
#header_navbar .logo{float: right}
#header_navbar .logo a{padding: 0 12px !important}
#header_navbar .button-wrapper{
   position: absolute;
   top: 12px; left: 12px;
   margin-top: -8px}

/* Footer */
#footer_links_out{padding: 2rem 0;}
#footer_links_out h4,
#footer_links_out ul li p{
   font-weight: 600;
   margin: .375rem 0}
#footer_links_out ul{
   margin: 0;
   list-style: none}
#footer_links_out ul li p{
   position: relative;
   padding-bottom: .375rem}
#footer_links_out ul li p::after{
   content: '-';
   color: transparent;
   border-bottom: 2px solid #4caf50;
   width: 2rem;
   position: absolute;
   padding-bottom: .375rem;
   top: 0; left: 0}
#footer_links_out ul li a.small,
#footer_links_out ul li span.small{display: block}

#footer_see_github{
   border-top-style: solid;
   border-top-width: 6rem;
   padding: 3rem 0}
#footer_see_github h2{font-weight: 400}
#footer_see_github a.button{margin: 2rem auto 0;}
#footer_see_github a.button .gb{margin-left: .5rem}

#footer_final_links ul{
   margin: 0;
   list-style: none}
#footer_final_links ul li{
   font-size: .75rem;
   padding: .25rem 0 .25rem 1rem;
   display: inline-block}
#footer_final_links ul.align-left li{padding: .25rem 1rem .25rem 0}

/* On Laptop */
@media screen and (min-width: 992px) and (max-width: 1199px) {}

/* On Tablet */
@media screen and (min-width:768px) and (max-width: 991px) {

   #index_header::before{background-position-y: -750px}
   #index_header{
      padding: 15rem 0 0;
      border-bottom: solid 6rem}
   #index_header .bestoon-prev{
      display: block;
      margin: auto;
      width: calc(100% - 2rem); height: auto;
      position: relative;
      top: 6rem;
      left: 0; right: 0;
      padding-top: 66.666%}

   #index_about::before{background-position-x: 0}

   #index_clients ul li a img {padding: .5em 3em 1em}

}

/* On Mobile */
@media screen and (max-width: 767px) {

   #index_header::before{
      background-position-y: -460px;
      -webkit-transform: scale(1.5);
              transform: scale(1.5)}
   #index_header{
      padding: 8rem 0 0;
      border-bottom: solid 6rem}
   #index_header .bestoon-prev{
      display: block;
      margin: auto;
      width: calc(100% - 2rem); height: auto;
      position: relative;
      top: 6rem;
      left: 0; right: 0;
      padding-top: 66.666%}

   #index_about{padding: 4rem 0 16rem}
   #index_about::before{
      background-position-x: center;
      background-position-y: bottom}

   #index_clients ul li{padding: .5rem !important}
   #index_clients ul li a img{padding: 0 5vw 1em}
   #index_clients ul li a b{
      white-space: normal;
      line-height: 1rem;
      height: 2rem;
      padding: 0 5vw}
   #index_clients ul li a span{padding: .5rem 5vw 0}

}
