body{
   overflow-x: hidden;
   min-height: 500vh; /* TEMP */
}

.image-bg{
   display: block;
   background-repeat: no-repeat;
   background-size: cover}

/* Index */
#index_header{
   position: relative;
   padding: 15rem 0}
#index_header .bestoon-prev{
   z-index: 2;
   position: absolute;
   top: 12rem; left: 60%;
   height: 580px; width: 870px;
   background-image: url('')}
#index_header h1{
   font-weight: 400;
   line-height: 1.5;
   margin: 0 0 1.75rem}

.info-section{
   padding: 5rem 0 4rem;
   position: relative;
   background: -moz-linear-gradient(35deg, #e0e0e0 0%, #eeeeee 70%, #eeeeee 100%);
   background: -webkit-gradient(left bottom, right top, color-stop(0%, #e0e0e0), color-stop(70%, #eeeeee), color-stop(100%, #eeeeee));
   background: -webkit-linear-gradient(35deg, #e0e0e0 0%, #eeeeee 70%, #eeeeee 100%);
   background: -o-linear-gradient(35deg, #e0e0e0 0%, #eeeeee 70%, #eeeeee 100%);
   background: -ms-linear-gradient(35deg, #e0e0e0 0%, #eeeeee 70%, #eeeeee 100%);
   background: linear-gradient(35deg, #e0e0e0 0%, #eeeeee 70%, #eeeeee 100%);
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0e0e0', endColorstr='#eeeeee', GradientType=1 )}
.info-section h2{
   position: relative;
   padding-bottom: 1.5rem;
   margin-bottom: 1.5rem;
   margin-top: 0;
   font-weight: 400}
.info-section h2::after{
   content: '-';
   color: transparent;
   border-bottom: 2px solid #4caf50;
   width: 4rem;
   position: absolute;
   padding-bottom: 1.5rem;
   top: 0; right: 0}

#index_about{padding: 9rem 0 5rem}
#index_about::before{
   background: url('../img/jadi.png') no-repeat;
   background-position-x: 2rem;
   background-size: contain;
   position: absolute;
   top: 0; left: 0;
   display: block;
   content: '';
   height: 100%; width: 100%;
   -webkit-filter: grayscale(0.5) opacity(0.2);
           filter: grayscale(0.5) opacity(0.2)}

#index_statics ul{
   padding: 2em 0;
   margin: 0;
   list-style: none}
#index_statics ul li a{font-size: 48px}
#index_statics ul li span{display: block}

#index_how{padding: 1rem 0}
#index_how .gb_lightbulb_outline{padding: 1rem}
#index_how p:first-of-type{
  font-size: 1rem;
  margin-bottom: 1rem;
  line-height: 2}
#index_how ul{
  padding: 0;
  margin: 0;
  list-style: none}
#index_how li{
  padding: 1em;
  display: inline-block}
#index_how li a{
  display: inline-block}
#index_how li a .gb{padding: .725em}
#index_how li span{
  padding: .725em .725em 0;
  display: block}

#index_clients ul{
   margin: 0;
   padding: 1.5rem;
   list-style: none}
#index_clients ul li{padding: 1.5rem !important}
#index_clients ul li a{
   padding: 1em 0;
   display: block}
#index_clients ul li a img{padding: 1.5em 4em 1em}
#index_clients ul li a span{
   padding-top: .5em;
   display: block}


#footer_see_github{
   border-top-style: solid;
   border-top-width: 6rem;
   padding: 3rem 0}
#footer_see_github h2{font-weight: 400}
#footer_see_github a.button{margin: 2rem auto 0;}
#footer_see_github a.button .gb{margin-left: .5rem}

/* On Laptop */
@media screen and (min-width: 992px) and (max-width: 1199px) {}

/* On Tablet */
@media screen and (min-width:768px) and (max-width: 991px) {

   #index_header .bestoon-prev{
      top: auto;
      left: 0; right: 0;
      margin-top: 12rem;
      width: 100%; height: auto;
      padding-top: 66.66%}

}

/* On Mobile */
@media screen and (max-width: 767px) {

   #index_header{padding: 6rem 0 7rem}

   #index_header .bestoon-prev{
      top: auto;
      left: 0; right: 0;
      margin-top: 6rem;
      width: 100%; height: auto;
      padding-top: 66.66%}

}
